body {
    margin: 0;
    overflow: hidden;
}

.matrix-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

canvas {
    display: block;
}

#hidden-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
